@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root {
    --lime_green: hsl(163, 72%, 41%);
    --bright_red: hsl(356, 69%, 56%);
    --facebook_line: hsl(208, 92%, 53%);
    --twitter_line: hsl(203, 89%, 53%);
    --youtube_line: hsl(348, 97%, 39%);
    --inactive-btn: gray;
    --instagram_gradient: linear-gradient(to right, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%) 1;
    --toogle: linear-gradient(to right, transparent 0%, transparent 25%,hsl(210, 78%, 56%) 25%, hsl(146, 68%, 55%) 75%,transparent 75%, transparent 100%);
    --toogle-dark: linear-gradient(to right, transparent 0%, transparent 25%,var(--inactive-btn) 25%, var(--inactive-btn) 75%,transparent 75%, transparent 100%);
    /* other colors */
    --very_dark_blue: hsl(230, 17%, 14%);
    --very_dark_blue2: hsl(232, 19%, 15%);
    --dark_desaturated_blue: hsl(228, 28%, 20%);
    --desaturate_blue: hsl(228, 34%, 66%);
    --new_white: hsl(0, 0%, 100%);
    --other_white: hsl(0, 0%, 100%);
    --very_pale_blue: hsl(225, 100%, 98%);
    --light_grayish_blue: hsl(227, 47%, 96%);
    --dark_grayish_blue: hsl(228, 12%, 44%);
}
*::before {
    position: relative;
    top: -0.2em;
    right: 0.2em;
}
body {
    font-family: Inter;
    background-color: var(--new_white);
    margin: 0;
    font-size: 14px;
}
header {
    height: 30vh;
    min-height: 100px;
    background-color: var(--very_pale_blue);
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    flex-wrap: wrap;
}
.header__bar {
    display: none;
}
.header__title {
    display: inline-block;
    padding: 10px;
}
.header__title span{
    font-weight: bold;
    color: var(--dark_grayish_blue);
}
.header__title h1 {
    margin-bottom: .1em;
}
.button {
    display: flex;
    align-items: center;
}
.button span {
    vertical-align: super;
    color: var(--dark_grayish_blue);
    font-weight: bold;
    margin-right: 20px;
}
.button__container {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 40px;
    height: 20px;
    padding: 2px;
    z-index: 10;
    background-image: var(--toogle-dark);
}
.button__container::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--inactive-btn);
    z-index: -1;
}
.button__container::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--inactive-btn);
    z-index: -1;
}
.button__container.dark-btn {
    background-image: var(--toogle);
}
.button__container.dark-btn .button__circle {
    background-color: var(--dark_grayish_blue);
}
.button__container.dark-btn::before {
    background-color: transparent;
    background-image: linear-gradient(to right, hsl(210, 78%, 56%) 50%, transparent 100%);
}
.button__container.dark-btn::after {
    background-color: transparent;
    background-image: linear-gradient(to left, hsl(146, 68%, 55%) 50%, transparent 100%);
}
.button__circle {
    display: inline-block;
    background-color: var(--light_grayish_blue);
    border-radius: 50%;
    width: 50%;
    height: 100%;
}
main {
    position: relative;
    top: -15vh;
    padding: 0 10%;
}
section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.social__container {
    width: 25%;
    min-width: 250px;
    border-radius: .2em;
}
.social {
    margin: 1em 1em 1em 1em;
    border-top: 3px solid;
    background-color: var(--very_pale_blue);
    box-shadow: 0 0 1px rgba(0, 0 , 0, 0.5);
    padding: 25px 0px;
    text-align: center;
}
.social--facebook {
    border-color: var(--facebook_line);
}
.social--twitter {
    border-color: var(--twitter_line);
}
.social--instagram {
    border-image: var(--instagram_gradient);
}
.social--youtube {
    border-color: var(--youtube_line);
}
.social:hover, .views:hover {
    background-color: var(--light_grayish_blue);
}
.social__info {
    margin-bottom: 1em;
    font-weight: bold;
    color: var(--dark_grayish_blue);

}
.social__info img {
    vertical-align: middle;
}
.social__followers {
    text-transform: uppercase;
    margin-bottom: 1em;
    letter-spacing: .3em;
}
.social__followers strong {
    font-size: 3em;
    display: block;
    letter-spacing: 0;
}
.social__stats {
    font-weight: bold;
}
.stats--up {
    color: green;
}
.stats--down {
    color: red;
}
.stats--up::before {
    content: url(./images/icon-up.svg);
}
.stats--down::before {
    content: url(./images/icon-down.svg);
}
.h2 {
    color: var(--dark_grayish_blue);
}
.views__container {
    width: 25%;
    min-width: 200px;
}
.views {
    padding: 20px;
    background-color: var(--very_pale_blue);
    margin: 10px;
    border-radius: .2em;
}
.views__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: var(--dark_grayish_blue);
    text-align: justify;
    margin-bottom: 1em;
}
.views__title img {
    height: 1em;
}
.views__stats {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.views strong {
    font-size:1.8em;
}
/* dark classes */
.dark-header {
    background-color: var(--very_dark_blue2);
    color:var(--new_white);
}
.dark-header,
.dark-body {
    background-color: var(--very_dark_blue);
}
.dark-divs  {
    background-color: var(--dark_desaturated_blue);
    color:var(--new_white)
}
.dark-divs .social__info,
.dark-divs .social__followers *:not(strong),
.dark-divs .views__title,
.dark-header .button span,
.dark-header .header__title span
{
    color:var(--desaturate_blue)
}
.dark-h2 {
    color: var(--new_white);
}
.social.dark-divs:hover, .views.dark-divs:hover {
    background-color: var(--dark_grayish_blue);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-bottom: 1em;
}
body.dark-body .attribution a {
    color: red;
}
@media (max-width:650px) {
    header {
        height: auto;
        flex-direction: row;
    }
    .header__title {
        padding: 0;
    }
    .header__bar {
        display: inline-block;
    }
    main {
        top: 0;
        margin-top: 1em;
        padding: 0 3%;
    }
    .header__title {
        margin-bottom: 1em;
    }
    .button {
        width: 100%;
        padding: 1em  0;
        border-top: 2px solid var(--dark_desaturated_blue);
    }
}
@media (max-width:550px) {
    .social__container {
        margin: 0 0 2em 0;
        min-width: 150px;
        width: 100%;
    }
    .social {
        padding: 25px 0;
        margin: 0 0;
    }
    .views{
        margin: 0 0 2em 0;
    }
    .views__container {
        width: 100%;

    }
}